version: "3.9"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: myapp-backend
    ports:
      - "8081:8080"

  frontend:
    build:
      context: ./src/main/reactboard
      dockerfile: Dockerfile
    container_name: myapp-frontend
    depends_on:
      - backend
    ports:
      - "80:80"
